.cardGrid {
    display: grid;
    justify-content: space-around;   
    text-align: center;
    padding: 1rem;
}


/*********FOR DESKTOPS*********/
@media all and (min-width:1200px){
    .cardGrid {
        display: grid;
        grid-template-columns: auto auto auto;
        justify-content: space-around;   
        text-align: center;
        padding: 1rem;
    }
    
    
}