.App {
  text-align: center;
  background-color: lightgrey;
  height: auto;
  width: auto;
  margin: 1px;
}
.headerMenu{
  display: flex;
  justify-content: center;
  
  width: 100%;
}
.listItem{
  padding-left: 1rem;
}
  